@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lora');

h1   {
  color: #063442;
  font-family: "Libre Baskerville", "Times New Roman";
  text-align: center;
  font-size: 300%;

}

h2 {
  color: #063442;
  font-family: Lora, "Times New Roman";
  font-size: 175%;
  font-style: italic;
}
h3 {
  color: brown;
  font-size: 80%;
}
h4 {
  color: Tomato;
  font-family: inherit;
}

p {
color: blue;
}

a:link {
 text-decoration: none;
}

a:visited {
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

div {
  color: #063442;
}

.notable:hover {
 font-size: 400%;
}

.blue {
  color: #2A3941;
  font-weight: bold;
  padding-top: .5rem;
  padding-right: 0rem;
  padding-bottom: .5rem;
  padding-left: 0rem;
}

.row {
  height: 250px;
  width: 250px;
  padding: 25px;
  border: 25px solid #FF824D;
  background: #FACA0A;
  text-align: center;
}

.column {
  height: 125px;
  width: 125px;
  padding: 20px;
  border: 20px solid #ff773D;
  background: #FACA0A;
  text-align: center;

  transition: width 1s;
}

.fancy {
  color: #063442;
  font-size: 200%;
  transition: font-size 2s;
}

.fancy:hover {
  font-size: 400%;
}

.column:hover {
  width: 330px;

}

.row:hover {
  border: 25px solid #2A3941;
  background: #FF824D;
}

.row {
  transition: border 1s 1s;
  transition: background 1s 1s;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.vertical {
  height: 1800px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
  position: absolute;
  left: 20%;
}

.notable {
  color: #063442;
  font-size: 300%;
  position: absolute;
  left: 50%;
  transition: font-size 2s;
}

ul {
  list-style-type: square;
}
a.highlight:hover {
  color: #ff0000;
}
body {
background-color: #9CC6C9;
}

.interesting-text {
  color: hsla(283, 100%, 50%, .5);
}

.important {
  font-weight: bold;
}

.important:hover {
  background-color: MidnightBlue;
}

#lead-paragraph {
  color:darksalmon;
  font-weight: bold;
}

#surprising-material {
  color: rgb(51, 255, 153);
  font-style: italic;
}

#centered {
  text-align: center;
}

.larger {
  font-size: 150%
}
img {
border-style: ridge;
border-color: #063442;
border-width: 3px;
height: 40%;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}
input[type=submit] {
  display: block;
  width: 40%;
  background-color: #FF824D;
  margin-left: auto;
  margin-right: auto;
}

#tag {
  text-align: center;
}

input:focus {
  background-color: #FACA0A;
  outline: none;
}

input {
  border-radius: 15px;
}

fieldset {
  border:none;
}

fieldset input {
  display: inline;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox label:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #084C61;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.button {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbutton {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


.button:hover input ~ .checkbutton {
  background-color: #ccc;
}

.button input:checked ~ .checkbutton {
  background-color: #084C61;
}

.checkbutton:after {
  content: "";
  position: absolute;
  display: none;
}

.button input:checked ~ .checkbutton:after {
  display: block;
}

.button .checkbutton:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
